/* WeatherPage.module.css */

.container {
  display: flex;
  padding-top: 64px;
  height: calc(100vh - 64px);
  box-sizing: border-box;
}

.left {
  width: 50%;
  padding: 1rem;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

.right {
  width: 50%;
  padding: 1rem;
  overflow-y: auto;
}
