/* WeatherPage.module.css */

.container {
  display: flex;
  padding-top: 64px;
  height: calc(100vh - 64px);
  box-sizing: border-box;
}

.left {
  width: 50%;
  padding: 1rem;
  border-right: 1px solid #ccc;
  /* 추후 지도, 검색 등 */
}

.right {
  width: 50%;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
